/Notes.xcodeproj/xcuserdata/maxim.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/Notes.xcodeproj/xcuserdata/maxim.xcuserdatad/xcschemes/xcschememanagement.plist
/Notes.xcodeproj/project.xcworkspace/xcuserdata/maxim.xcuserdatad/UserInterfaceState.xcuserstate
/Notes.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Notes.xcodeproj/project.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.plist
